.header{
    display: flex;
    height: 150px;
    padding: 10px;
    background:black;
  }
  
  .text{
    margin-top:15px;
    font-size: 100px;  
    color:white;
    text-decoration: underline blue;
  }

  .extra{
      color:red;
  }

  .main{
    display:flex;
  }
  .score{
    display:flex;
    flex-direction:column;
    justify-content: right;
    margin-left: 20px;
    margin-top: -25px;
  }

  .list{
    margin-left: -37.5px;
  }