.header{
    display: flex;
    height: 150px;
    padding: 10px;
    background:black;
  }
  
  .text{
    margin-top:15px;
    font-size: 100px;  
    color:white;
    text-decoration: underline blue;
  }

  .extra{
      color:red;
  }

  .main{
    display:flex;
    justify-content: center;
  }

  .highScore{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color:white;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .scoreBox{
    background-color:red
  }
  .score{
    display:flex;
    flex-direction:column;
    justify-content: right;
    margin-left: 20px;
    margin-top: -25px;
  }

  .list{
    margin-left: -37.5px;
  }

  